<form action="/daynote/create" method="POST">
	<input type="hidden" name="_csrf" value="{{ _csrf }}">
	<fieldset>
		<select name="product" id="product">
			{{#each products}}
				<option value="{{this.product}}">{{this.product}}</option>
			{{/each}}
		</select>
	</fieldset>

	<fieldset>
		<input type="number" name="weight" value="{{weight}}" placeholder="Weight...">
	</fieldset>

	<input type="submit" value="Create" />
</form>